Source: hello-sodium
Section: misc
Priority: optional
Maintainer: "Michael Williams" <michael.williams@enspiral.com>
Build-Depends:
  debhelper (>=10~)
  , nodejs
  , npm
Standards-Version: 4.1.4

Package: hello-sodium
Architecture: any
Depends:
  ${misc:Depends}
  , ${shlibs:Depends}
  , nodejs
Description: An example Node.js script 
  with native crypto packaged for Debian
