Source: hello-level
Section: misc
Priority: optional
Maintainer: "Michael Williams" <michael.williams@enspiral.com>
Build-Depends:
  debhelper (>=10~)
  , nodejs (>= 10), nodejs (<< 11)
Standards-Version: 4.1.4

Package: hello-level
Architecture: any
Depends:
  ${misc:Depends}
  , ${shlibs:Depends}
  , nodejs
Description: An example Node.js script with a native
  LevelDB database packaged for Debian
