Source: hello-node
Section: misc
Priority: optional
Maintainer: "Michael Williams" <michael.williams@enspiral.com>
Build-Depends:
  debhelper (>=10~)
  , nodejs
Standards-Version: 4.1.4

Package: hello-node
Architecture: any
Depends:
  ${misc:Depends}
  , ${shlibs:Depends}
  , nodejs
Description: An example Node.js script packaged
  for Debian
